body {
  text-align: center;
  background: #000000;
  color:#F58840;

}

h1{
  font-family: "Fira Code";
  margin-top: 5%;
}

.btn{
  background:#000000;
  color:#F58840;
  font-family: "Fira Code";
  border:none!important;
  outline:none!important;
  box-shadow: none!important;
}
.btn:hover{
  color:white;
  background: #F58840;

}
input{
  border:none!important;
  outline:none!important;
  font-family: "Fira Code";
  color:black;
}
.form-select{
  width:30px;
}
select{
  border:none;
  outline:none;
}
